# vim: ft=ldif
version: 1

# entry-id: 1  |  Domain Root Entry
dn: {{ dirsrv_domain }}
objectClass: top
objectClass: domain
dc: homelab
description: {{ dirsrv_domain }}
aci:
  (targetattr="dc || description || objectClass")
  (targetfilter="(objectClass=domain)")
  (version 3.0;
    acl "Enable anyone domain read";
    allow (read, search, compare)
    (userdn="ldap:///anyone");
  )
aci:
  (targetattr="ou || objectClass")
  (targetfilter="(objectClass=organizationalUnit)")
  (version 3.0;
    acl "Enable anyone ou read";
    allow (read, search, compare)
    (userdn="ldap:///anyone");
  )

# entry-id: 2  |  Dirsrv System Entry
# TODO: Figure out what this contains, exactly
dn: cn=389_ds_system,{{ dirsrv_domain }}
objectClass: top
objectClass: nscontainer
objectClass: ldapsubentry
cn: 389_ds_system

# entry-id: 3  |  Groups OU
dn: ou=groups,{{ dirsrv_domain }}
objectClass: top
objectClass: organizationalunit
ou: groups
aci:
  (targetattr="cn || member || gidNumber || nsUniqueId || description || objectClass")
  (targetfilter="(objectClass=groupOfNames)")
  (version 3.0;
    acl "Enable anyone group read";
    allow (read, search, compare)
    (userdn="ldap:///anyone");
  )
aci:
  (targetattr="member")
  (targetfilter="(objectClass=groupOfNames)")
  (version 3.0;
    acl "Enable group_modify to alter members";
    allow (write)
    (groupdn="ldap:///cn=group_modify,ou=permissions,{{ dirsrv_domain }}");
  )
aci:
  (targetattr="cn || member || gidNumber || description || objectClass")
  (targetfilter="(objectClass=groupOfNames)")
  (version 3.0;
    acl "Enable group_admin to manage groups";
    allow (write, add, delete)
    (groupdn="ldap:///cn=group_admin,ou=permissions,{{ dirsrv_domain }}");
  )

# entry-id: 4  |  People OU
dn: ou=people,{{ dirsrv_domain }}
objectClass: top
objectClass: organizationalunit
ou: people
aci:
  (targetattr="objectClass || description || nsUniqueId || uid || displayName || loginShell || uidNumber || gidNumber || gecos || homeDirectory || cn || memberOf || mail || nsSshPublicKey || nsAccountLock || userCertificate")
  (targetfilter="(objectClass=posixaccount)")
  (version 3.0;
    acl "Enable only user self read";
    allow (read, search, compare)
    (userdn="ldap:///self");
  )
aci:
  (targetattr="displayName || legalName || userPassword || nsSshPublicKey")
  (version 3.0;
    acl "Enable self partial modify";
    allow (write)
    (userdn="ldap:///self");
  )
aci:
  (targetattr="legalName || telephoneNumber || mobile || sn")
  (targetfilter="(|(objectClass=nsPerson)(objectClass=inetOrgPerson))")
  (version 3.0;
    acl "Enable self legalname read";
    allow (read, search, compare)
    (userdn="ldap:///self");
  )
aci:
  (targetattr="legalName || telephoneNumber")
  (targetfilter="(objectClass=nsPerson)")
  (version 3.0;
    acl "Enable user legalname read";
    allow (read, search, compare)
    (groupdn="ldap:///cn=user_private_read,ou=permissions,{{ dirsrv_domain }}");
  )
aci:
  (targetattr="uid || description || displayName || loginShell || uidNumber || gidNumber || gecos || homeDirectory || cn || memberOf || mail || legalName || telephoneNumber || mobile")
  (targetfilter="(&(objectClass=nsPerson)(objectClass=nsAccount))")
  (version 3.0;
    acl "Enable user admin create";
    allow (write, add, delete, read)
    (groupdn="ldap:///cn=user_admin,ou=permissions,{{ dirsrv_domain }}");
  )
aci:
  (targetattr="uid || description || displayName || loginShell || uidNumber || gidNumber || gecos || homeDirectory || cn || memberOf || mail || legalName || telephoneNumber || mobile")
  (targetfilter="(&(objectClass=nsPerson)(objectClass=nsAccount))")
  (version 3.0;
    acl "Enable user modify to change users";
    allow (write, read)
    (groupdn="ldap:///cn=user_modify,ou=permissions,{{ dirsrv_domain }}");
  )
aci:
  (targetattr="userPassword || nsAccountLock || userCertificate || nsSshPublicKey")
  (targetfilter="(objectClass=nsAccount)")
  (version 3.0;
    acl "Enable user password reset";
    allow (write, read)
    (groupdn="ldap:///cn=user_passwd_reset,ou=permissions,{{ dirsrv_domain }}");
  )
aci:
  (targetattr="objectClass || description || nsUniqueId || uid || displayName || loginShell || uidNumber || gidNumber || gecos || homeDirectory || cn || memberOf || mail || nsSshPublicKey || nsAccountLock || userCertificate || employeeType")
  (targetfilter="(objectClass=nsAccount)")
  (version 3.0;
    acl "Enable only user read";
    allow (read, search, compare)
    (groupdn="ldap:///cn=user_read,ou=permissions,{{ dirsrv_domain }}");
  )

# entry-id: 5  |  Permissions OU
dn: ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: organizationalunit
ou: permissions

# entry-id: 6  |  Services OU
dn: ou=services,{{ dirsrv_domain }}
objectClass: top
objectClass: organizationalunit
ou: services
aci: (
  targetattr="objectClass || description || nsUniqueId || cn || memberOf || nsAccountLock")
  (targetfilter="(objectClass=netscapeServer)")
  (version 3.0;
    acl "Enable anyone service account read";
    allow (read, search, compare)
    (userdn="ldap:///anyone");
  )

# entry-id: 7  |  Permission - Group Admin
dn: cn=group_admin,ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: groupOfNames
objectClass: nsMemberOf
cn: group_admin

# entry-id: 8  |  Permission - Group Modify
dn: cn=group_modify,ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: groupOfNames
objectClass: nsMemberOf
cn: group_modify

# entry-id: 9  |  Permission - User Admin
dn: cn=user_admin,ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: groupOfNames
objectClass: nsMemberOf
cn: user_admin

# entry-id: 10  |  Permission - User Modify
dn: cn=user_modify,ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: groupOfNames
objectClass: nsMemberOf
cn: user_modify

# entry-id: 11  |  Permission - User Password Reset
dn: cn=user_passwd_reset,ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: groupOfNames
objectClass: nsMemberOf
cn: user_passwd_reset

# entry-id: 12  |  Permission - User Private Read
dn: cn=user_private_read,ou=permissions,{{ dirsrv_domain }}
objectClass: top
objectClass: groupOfNames
objectClass: nsMemberOf
cn: user_private_read
