---
apiVersion: v1
kind: Namespace
metadata:
  name: ceph-csi-cephfs
---
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
  namespace: ceph-csi-cephfs
stringData:
  adminID: {{ k3s.ceph.adminID }}
  adminKey: {{ k3s.ceph.adminKey }}
